.first-section {
    display: flex;
}

.first-section-left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
}
h1 {
    font-size: 62px;
    margin-bottom: 5px;
}
.first-section-left-container p {
    color: hsl(0, 0%, 75%);
    margin-top: 0.0;
}
.first-section-left-container span {
    display: block;
}

.first-section-right-container {
    width: 50%;
}

.illustration-hero {
    width: 100%;
}

.second-section {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    width: 80%;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/bg-shorten-desktop.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(255, 11%, 22%);
    border: 2px solid hsl(255, 11%, 22%);
    border-radius: 10px;
    margin-top: 5%;
}

input {
    width: 60%;
    height: 30%;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 2%;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.third-section h2 {
    color: hsl(255, 11%, 22%);
    margin-bottom: 0;

}

.third-section p {
    color: hsl(0, 0%, 75%);

}

.third-section span {
    display: block;
    text-align: center;
}

.fourth-section {
    width: 100%;
    display: flex;
    justify-content: center ;
}

.container-for-cards {
    display: flex;

}

.card-separation{
    position: relative;
    top: 80%;
    background-color: hsl(180, 66%, 49%);
    width: 100px;
    height: 5px;
}

.fifth-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    align-items: center;
    background-image: url('../../images/bg-boost-mobile.svg'), url('../../images/bg-shorten-desktop.svg');
    background-position: left, right;
    background-size: 100%, 80%;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(255, 11%, 22%);
    border: 2px solid hsl(255, 11%, 22%);
    padding: 2%;
}

.fifth-section h2 {
    color: white;
}
