.first-section {
    display: flex;
}

.first-section-left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
}
h1 {
    font-size: 42px;
    margin-bottom: 5px;
}
.first-section-left-container p {
    color: hsl(0, 0%, 75%);
    margin-top: 0.0;
}
.first-section-left-container span {
    display: block;
}

.first-section-right-container {
    width: 50%;
}

.illustration-hero {
    width: 100%;
}
