.card {
    border: 2px solid grey;
    position: relative;
    width: 100%;
    border-radius: 8px;
}
.container-for-icon {
    position: relative;
    top: -25px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 50px;
    border-radius: 28px;
    background-color: hsl(255, 11%, 22%);
}